<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 등록</title>
</head>
<body>
<h1>회원 등록</h1>
<form action="/members/new" method="post" th:object="${member}">
    <label for="name">이름</label>
    <input type="text" id="name" th:field="*{name}" />
    <br/>

    <label for="grade">등급</label>
    <select id="grade" th:field="*{grade}">
        <option th:each="g : ${T(com.example.spring_playground.domain.Grade).values()}"
                th:value="${g}"
                th:text="${g}">
        </option>
    </select>

    <br/>
    <button type="submit">등록</button>
</form>
</body>
</html>